footer {
    font-size: 10pt;
}

body {
    font-family: 'Fira Sans',
                 system-ui,
                 -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 "Helvetica Neue", Arial,
                 "Noto Sans",
                 "Liberation Sans",
                 sans-serif,
                 "Apple Color Emoji", "Segoe UI Emoji",
                 "Segoe UI Symbol",
                 "Noto Color Emoji";

}

.brand {
    line-height: 1.5;

    color: hsl(110, 70%, 30%);
}

.nav-link {
    color: hsl(110, 50%, 50%);
}

.nav-link:hover {
    color: hsl(110, 50%, 40%);
}

.nav-pills .nav-link.active {
    background-color: hsl(110, 50%, 50%);
}

img {
    max-width: 100%;
    height: auto;
}

@media(min-width: 576px) {
    img.avatar {
        max-width: 250px;
    }
}

@media(max-width: 576px) {
    img.avatar {
        max-width: 100%;
        height: auto;
    }
}
