---
title: Sobre mim
---
<img class="avatar d-sm-block float-sm-end" src="./images/about-avatar.jpeg" />

<p>
  Oi! Eu sou o Janil. Eu sou um desenvolvedor de Software natural e residente
  do Brasil.
</p>

<p>
  Eu programo desde jovem e é mais que uma profissão pra mim. Eu também amo
  ciência e matemática, desde moleque queria estudar física, mas minha vida
  acabou tomando outra direção.
</p>

<p>
  Eu tenho muitos interesses e quando eu me interesso por algo, eu
  <strong>me interesso por algo</strong>, meio que obsessivo. Talvez não seja
  saudável, mas quem sabe não é mesmo?
</p>

<p>
  Dentro os meios interesses recentes estão fazer pães (até escrevi um livro
  sobre isso), linguística e filosofia moral e política. Eu não acho que esse
  seja o lugar para esses interesses e também não acho que eu conheça ainda o
  suficiente para estar falando sobre isso, mas de toda forma são interesses
  meus.
</p>

<p>
  Esse desenho aí em cima foi feito pela minha esposa, Luisa Barros. Se você
  quer afagar seu ego com um desenho como esse, fale com ela :P
</p>

<p>
  Vocês pode me seguir em outros lugares:
  <a href="https://www.linkedin.com/in/janil-garcia/">LinkedIn</a>,
  <a href="https://github.com/janilcgarcia">GitHub</a> e
  <a href="https://gitlab.com/janilcgarcia">GitLab</a>
</p>

<p>
  Não sei se o que eu tenho pra dizer ou mostrar é realmente interessante, mas
  se você achar que é, uma vez a cada quatro meses eu devo ter alguma coisa a
  dizer.
</p>
