---
title: Bem vindo(a)!
---

<p>Bem vindo! Meu nome é <a href="about.html">Janil</a> e esse é o meu blog. Aqui eu falo sobre coisas
  que me interessam em tecnologia e ciência!</p>

<p>
  Meu foco primário aqui é falar sobre programação funcional (o que eu faço
  no meu tempo livre :P), mas vou citar outras coisas que acho interessantes
  sempre que eu sentir vontade.
</p>

<p>
  Esse blog está sendo desenvolvido com
  <a href="https://jaspervdj.be/hakyll/">Hakyll</a>. Eu recomendo para qualquer
  um que queria criar seu próprio site estático e tenha interesse em programação
  funcional.
</p>

<h2>Postagens Recentes</h2>
$partial("templates/post-list.html")$

<p>Uma listagem completa está em <a href="/archive.html">arquivos</a>.</p>
